avujic-academy-aws/resources/s3/avujic-academy-scripts/statemachine/avujic-academy-statemachine.json
{
    "StartAt": "Add empty LastEvaluatedKey",
    "States": {
      "Add empty LastEvaluatedKey": {
        "Type": "Pass",
        "Next": "Scan",
        "Result": {
          "LastEvaluatedKey": null
        },
        "ResultPath": "$"
      },
      "Scan": {
        "Type": "Task",
        "Next": "Map",
        "Parameters": {
          "TableName": "${DynamoDBTableJobs}",
          "ProjectionExpression": "#table_name",
          "ExpressionAttributeNames": {
            "#table_name": "table_name"
          },
          "ExclusiveStartKey.$": "$.LastEvaluatedKey"
        },
        "Resource": "arn:aws:states:::aws-sdk:dynamodb:scan"
      },
      "Map": {
        "Type": "Map",
        "Next": "Check for more",
        "Iterator": {
          "StartAt": "Lambda Invoke",
          "States": {
            "Lambda Invoke": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${LambdaLanding}"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        "ItemsPath": "$.Items",
        "ResultPath": null,
        "MaxConcurrency": 40
      },
      "Check for more": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.LastEvaluatedKey",
            "IsPresent": true,
            "Next": "Add new LastEvaluatedKey"
          }
        ],
        "Default": "Done"
      },
      "Done": {
        "Type": "Succeed"
      },
      "Add new LastEvaluatedKey": {
        "Type": "Pass",
        "Next": "Scan",
        "Parameters": {
          "LastEvaluatedKey.$": "$.LastEvaluatedKey"
        },
        "ResultPath": null
      }
    }
  }